@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');

:root{
    --Gold: hsl(31, 77%, 52%);
    --Cyan: hsl(184, 100%, 22%);
    --Green: hsl(179, 100%, 13%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.container{

    display: flex;

}
.card{
    color: white;
    padding: 35px;
    width: 300px;
    height: 100%;
}

.card h2{
    margin: 35px 0;
    font-family: "Big Shoulders", sans-serif;
    letter-spacing: 0.1rem;
    text-transform:uppercase;
}
.card button{
    /* font-family: "Big Shoulders", sans-serif; */
    margin-top: 60px;
    font-weight: 600;
    border: none;
    background-color: white;
    padding: 10px 26px;
    border-radius: 20px;
}
.card1{
    background-color: var(--Gold);
}
.card2{
    background-color: var(--Cyan);
}
.card3{
    background-color: var(--Green);
}
.card1 button{
    color: var(--Gold);  
}
.card2 button{
    color: var(--Cyan);  
}
.card3 button{
    color: var(--Green);  
}